@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap');

/*  */

.centrado {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.btn_modificado {
    border: none!important;
}

.foto_gal {
    height: 400px;
    transform: translateY(0px);
}

.foto_gal:hover {
    transform: translateY(-7px);
    cursor: pointer;
}

.fotito {
    height: 400px;
}

.logo {
    width: 90px;
    height: 90px;
}

.c-blanco {
    color: white;
}

.ffm {
    font-family: 'Montserrat', sans-serif;
}

.ffs {
    font-family: 'Shadows Into Light', cursive;
}

.link_activado::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: green;
    left: 0;
    bottom: 0;
    transform: scaleX(0%);
    transition: transform 200ms ease-in;
}

.link_activado:hover::after {
    transform: scaleX(100%);
    transition: transform 200ms ease-in;
}

.logo-whats {
    width: 40px;
    height: 40px;
}

.principal {
    width: 100%;
    height: 400px;
    overflow: hidden;
    background-image: url(../images/imgPrincipal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: start;
    align-items: flex-end;
    position: relative;
}

.principal__titulo {
    background-color: rgba(0, 0, 0, .68);
    width: 60%;
    text-align: center;
    border-radius: 10px;
    padding: 7px 20px;
    color: white;
    font-weight: bold;
    font-size: 1.9rem;
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
}

.texto_parrafo {
    text-align: justify;
    font-size: 1.1rem;
}

.info_complementaria {
    color: green;
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.opiniones_card {
    width: 90%;
    border-radius: 10px;
    height: 300px;
    border-radius: 10px;
    font-size: 1.2rem;
}

.opiniones .opiniones_estrellas {
    color: #ffc700;
    font-size: 1.8rem;
}

.opiniones_autor {
    color: green;
    font-weight: bold;
}

.icono {
    width: 60px;
    height: 60px;
}

.icono path {
    fill: white;
}

.mapa {
    height: 400px;
}

.footer {
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}

.svgs {
    height: 40px;
    width: 40px;
}

.fuente_size {
    font-size: .9rem;
    font-weight: bold;
}

.icono_footer {
    width: 50px;
    height: 50px;
}

.icono_footer path {
    fill: white;
}

.flecha {
    width: 40px;
    height: 40px;
}

.flecha path {
    fill: white
}

.flecha:hover {
    background-color: white;
    border-radius: 100%;
    padding: 5px;
    transition: 350ms ease;
}

.flecha:hover path {
    fill: #212529;
    transition: 350ms ease;
}

.historia_texto {
    line-height: 1.5;
}

.staff {
    background-color: red;
}

.staff_texto {
    background-color: #212529;
    color: white;
    text-align: justify;
    padding: 1em 1em;
    font-size: 1.1rem;
}

.spanes {
    color: green;
    font-size: 1.9rem;
}

.producto_sep::after {
    content: "";
    width: 100%;
    display: block;
    height: 2px;
    background-color: grey;
}

.msj_text {
    resize: none;
}

.boton {
    border: 1px solid #212529!important;
    background-color: #212529!important;
}


/* .flecha path {
    fill: white
}

.flecha:hover {
    background-color: white;
    border-radius: 100%;
    padding: 5px;
    transition: 350ms ease;
}

.flecha:hover path {
    fill: #212529;
    transition: 350ms ease;
} */

@media only screen and (min-width: 768px) {
    .svgs {
        height: 50px;
        width: 50px;
    }
    .fotito {
        height: 400px;
    }
    .fuente_size {
        font-size: 1.4rem;
    }
    .foto_gal {
        border-radius: 10px;
    }
    .producto_sep::after {
        margin-top: 1em;
    }
}

@media only screen and (min-width: 1200px) {
    .svgs {
        height: 60px;
        width: 60px;
    }
    .fuente_size {
        font-size: 1.4rem;
    }
    .fotito {
        height: 500px;
        border-radius: 10px;
        object-fit: cover;
    }
    .spanes {
        color: green;
        font-size: 2.4rem;
    }
    .principal {
        height: 80vh;
    }
    .principal__titulo {
        font-size: 2.7rem;
    }
    .info_complementaria {
        font-size: 2.5rem;
    }
    .footer {
        font-size: 1.5rem;
    }
    .historia_texto {
        line-height: 1.8;
        font-size: 1.3rem;
    }
}