/* SOMBRA PERSONALIZADA */

.shadow-per {
    @extend %sombra;
}

.foto_gal {
    height: 400px;
    @extend %sombra;
    transform: translateY(0px);
    &:hover {
        transform: translateY(-7px);
        cursor: pointer;
    }
}

.centrado {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.btn_modificado {
    border: none!important;
}

.logo {
    width: 90px;
    height: 90px;
}

.logo-whats {
    width: 40px;
    height: 40px;
}

.b-radius-10 {
    border-radius: 10px;
}

.c-blanco {
    color: map-get($colores, thirdColor);
}

.ffm {
    font-family: $ff-M;
}

.ffs {
    font-family: $ff-S;
}

.color-whats {
    path {
        fill: map-get($colores, colorWhats);
    }
}

.spanes {
    color: map-get($colores, secondaryColor);
    ;
    font-size: 1.9rem;
}

.fotito {
    height: 400px;
}

.flecha {
    width: 40px;
    height: 40px;
    path {
        fill: white
    }
    &:hover {
        background-color: map-get($colores, thirdColor);
        border-radius: 100%;
        padding: 5px;
        transition: 350ms ease;
        path {
            fill: map-get($colores, mainColor);
            transition: 350ms ease;
        }
    }
}

.texto_parrafo {
    text-align: justify;
    font-size: 1.1rem;
}

.footer {
    color: map-get($colores, thirdColor);
    font-weight: bold;
    font-size: 1.2rem;
}

.historia_texto {
    line-height: 1.5;
}

.mapa {
    height: 400px;
}

.icono {
    width: 60px;
    height: 60px;
    path {
        fill: map-get($colores, thirdColor);
    }
}


/* NAVBAR */

.link_activado {
    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background-color: map-get($colores, secondaryColor);
        left: 0;
        bottom: 0;
        transform: scaleX(0%);
        transition: transform 200ms ease-in;
    }
    &:hover::after {
        transform: scaleX(100%);
        transition: transform 200ms ease-in;
    }
}

@include mediaQ(min, 768px) {
    .fotito {
        height: 400px;
    }
    .foto_gal {
        border-radius: 10px;
    }
}

@include mediaQ(min, 1200px) {
    .fotito {
        height: 500px;
        border-radius: 10px;
        object-fit: cover;
    }
    .spanes {
        color: map-get($colores, secondaryColor);
        font-size: 2.4rem;
    }
    .footer {
        font-size: 1.5rem;
    }
    .historia_texto {
        line-height: 1.8;
        font-size: 1.3rem;
    }
}